body {
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: url('../images/normal/classroom.webp');

	background-size: cover;
	background-position: center;
	height: 100vh;
}

* {
	margin: 0;
	box-sizing: border-box;
}
