.btn1,
.btn2 {
	position: relative;
	margin-bottom: 2rem;
	color: black;
	font-family: 'Aller';
	width: 30%;
	border: 0.2rem solid #e9bfdc;
	min-width: 15rem;
	min-height: 3rem;
	max-height: 50%;
}

.btn1:hover,
.btn2:hover {
	cursor: pointer;
	color: #ffc5ca;
}
