.main-button {
	top: 25%;
	margin-bottom: 2rem;
	color: black;
	font-family: 'Aller';
	width: 30vw;
	border: 0.2rem solid #e9bfdc;
	min-width: 10rem;
	min-height: 1rem;
}

.main-button:hover {
	cursor: pointer;
	color: #ffc5ca;
}
