@font-face {
	font-family: 'Riffic Free Bold';
	src: url('../fonts/RifficFree-Bold.ttf');
}
@font-face {
	font-family: 'Aller';
	src: url('../fonts/Aller.ttf');
}
.text-box {
	position: relative;
	bottom: 0;
	display: flex;
	width: 63%;
	height: 23%;
	min-width: 400px;
	min-height: 200px;
	max-height: 30%;
	max-width: auto;
	margin-bottom: 1rem;
}

.dialog-text {
	font-weight: 500;
	font-size: 1.8rem;
	color: white;
	z-index: 999;
}
.normal {
	font-family: 'Aller';
	text-shadow: 0.2rem 0 black, 0 0.15rem black, 0.15rem 0 black,
		0 -0.15rem black, -0.15rem -0.15rem black, 0.15rem 0.15rem black,
		-0.2rem 0.2rem black, 0.2rem -0.2rem black;
}
.distorted {
	font-family: 'Courier-Bold';
	text-shadow: 0.35rem 0 black, 0 0.35rem black, 0.35rem 0 black,
		0 -0.35rem black, -0.35rem -0.35rem black, 0.35rem 0.35rem black,
		-0.35rem 0.35rem black, 0.35rem -0.35rem black;
}

.character {
	position: absolute;
	top: -2.5rem;
	left: 2rem;
	padding: 0.5rem 2.5rem 0.6rem 2.5rem;

	background: rgb(255, 255, 255, 0.8);
	border-radius: 0.7rem;

	text-shadow: -0.2rem -0.2rem 0 #ac618d,
		/* Top left */ 0.19rem -0.2rem 0 #ac618d,
		/* Top right */ -0.19rem 0.2rem 0 #ac618d,
		/* Bottom left */ 0.19rem 0.2rem 0 #ac618d; /* Bottom right */
	font-size: 1.5rem;
	font-family: 'Riffic Free Bold';
	color: white;
}
.text-field {
	background-image: url('../images/normal/textbox.png');
	background-size: cover;
	background-position: center;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

	overflow: hidden;
	overflow-wrap: break-word;

	flex-grow: 1;
	border: 0.2rem solid white;
	border-radius: 1rem;
	padding: 2.2rem;
	z-index: 999;
}
